<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DeColombia Joyas</title>

    <link rel="icon" type="image/png" href="img/favicon-dc.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css">

</head>

<body>

<div id="app">
    <div class="container ">

      <div class="row">

      <div class="col-lg-12">

        <div class="col-md-12 text-right mt-3 fixed-bottom">

         <card-carrito v-if="!show" @click.native="show =!show"></card-carrito>  

        </div>

        <div class="row mt-3">

            <div class="col-md-12 d-flex p-2 justify-content-between ">

                <p class="card-text p-0" style="font-size: 25px;"><strong class="text-lg">Colección I</strong>/Pulseras </p>

                <img src="img/LogoDeColombia.svg" width="150" alt="">

            </div>            
            
            <div class="col-lg-12 mb-2 p-0">
              <div class="col-3 col-sm-2 col-md-2 col-lg-1 p-2">
                <label for="pages">Paginas</label>
                  <select class="form-control" id="pages" v-model="NUM_RESULTS">
                    <option v-for="num in catalogos.length" v-if="catalogos.length%num == 0 ">{{num}}</option>
                  </select>
              </div>
            </div>

            <card-productos 

            ref="cardp"
            
            v-for="(vcatalogo,index) in catalogos"

            v-show="(pag - 1) * NUM_RESULTS <= index  && pag * NUM_RESULTS > index"

            :refe="vcatalogo.referencia_cat"

            :gr="vcatalogo.gramos_cat"

            :id="vcatalogo.id_cat"

            :image="vcatalogo.img_cat"

            >
          </card-productos> 
         

            <div class="col-lg-12 d-flex justify-content-center">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a href="#" class="page-link" v-show="pag != 1" @click.prevent="pag -= 1">
                            Anterior
                        </a>
                    </li>

                    <li v-bind:class="{'page-item':true, 'active':(pag==page)}" v-for="page in catalogos.length/NUM_RESULTS "><a class="page-link" href="#" @click.prevent="pag=page">{{page}}</a></li>

                    <li class="page-item">
                        <a href="#" class="page-link" v-show="pag * NUM_RESULTS / catalogos.length < 1" @click.prevent="pag += 1">
                            Siguiente
                        </a>
                    </li>
                </ul>
             </nav>              
              
            </div>  

        </div>


    </div>

    <transition name="slide-fade">
 
      <div v-if="show" class="row col-lg-12 position-fixed m-0 p-0" style="background: #98989878;right: 0;overflow-y: scroll;height: 100%;z-index: 1000;">
        <div class="col-2 col-sm-7 col-lg-8"  @click="show =!show"></div>
        <div class="col-10 col-sm-5 col-lg-4 bg-white ">
          <div class="row mt-3 p-3">
            <div  @click="show =!show" class="col-md-12 text-right btn p-0">
              <img src="img/cerrar.svg" width="25px">
            </div>
            <div class="col-lg-12 text-center">
              <h3><img src="img/love-and-romance (1).svg" alt="" width="32"> Mis favoritos</h3>
              <div class="col-lg-12 d-flex justify-content-center">
                <hr style="width: 50px;">
              </div>
            </div>
            <ul class="list-unstyled col-lg-12 p-0">

              <card-ver-carrito

              v-for="(itemcar,key) in micar"
              
              :id="itemcar.id"

              :refe="itemcar.refe"

              :gramos="itemcar.gramo"

              :image="itemcar.image"

              ></card-ver-carrito>  
            </ul> 
          </div> 
        </div>
      </div>
    </transition>
        
        <div class="col-md-12 text-center text-black-50 mt-5"> 
            <p>www.decolombiajoyas.com</p>
        </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<script src="https://unpkg.com/vuex@3.3.0/dist/vuex.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="componentes/component_productos.js"></script>

<script src="componentes/component_carrito.js"></script>

<script src="componentes/component_ver_carrito.js"></script>

<script src="componentes/component_verp.js"></script>

<script>



const store = new Vuex.Store({

  state: {

    cart: []


  },

  mutations: {

    addcart (state,datos) {

      if(datos.addp==1){

        state.cart.push({id:datos.idp,refe:datos.refe,image:datos.img,gramo:datos.gr})

      }else if(datos.addp==0){
         var index =state.cart.findIndex(i => i.id === datos.idp)
         state.cart.splice(index,1)  

      }



    }

  }

})



new Vue({

  el: '#app',

  store,

  data () {

    return {

      catalogos: [],
      NUM_RESULTS: 6,
      pag:1,
      micar:store.state.cart,
      show:false
      
      

    }

  },

  mounted () {

    axios

      .get('https://clientesenlinea.com/catalogoAPI/public/api/catalogo/')

      .then(response => (this.catalogos = response.data))

  }

})

</script>


<style>
  .slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.cart-compra{
  margin-left: -13px;
  position: absolute;
  background: #ff6243;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em;  
  border-radius: 0.8em;
}
</style>
</body>

</html>